#main-banner {
    height: 1080px;
    overflow: hidden;
    position: relative;
}

.layer {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 1080px;
    position: fixed;
    width: 100%;
    z-index: -1;
}

.layer-1 {
   background-image: url('images/layer1.png');
}

.layer-2 {
   background-image: url('images/layer2.png');
}

.layer-3 {
   background-image: url('images/layer3.png');
}

.layer-4 {
   background-image: url('images/layer4.png');
}

.layer-5 {
   background-image: url('images/layer5.png');
}

.layer-6 {
   background-image: url('images/layer6.png');
}

.layer-7 {
   background-image: url('images/layer7.png');
}

.layer-8 {
   background-image: url('images/layer8.png');
}

.layer-9 {
   background-image: url('images/layer9.png');
}

.layer-10 {
   background-image: url('images/layer10.png');
}

.layer-11 {
   background-image: url('images/layer11.png');
}

.layer-12 {
   background-image: url('images/layer12.png');
}
